@model IEnumerable<DoctorVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <a href="/admin/Doctor/Add" class="col-2 btn btn-primary" style="margin-top: 20px;margin-left: 20px;">Add</a>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Doctor Name</th>
                                <th>Department Name</th>
                                <th>Email</th>
                                <th>Phone</th>

                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var item in Model){
                            <tr>
                                <td></td>
                                <td>@item.DoctorName</td>
                                <td>@item.DepartmentName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                    <td> <a asp-area="Admin" asp-controller="Doctor" asp-action="Update" asp-route-id="@item.DoctorId" class="btn btn-outline-primary">Edit</a></td>
                                    <td> <a asp-area="Admin" asp-controller="Doctor" asp-action="Delete" asp-route-id="@item.DoctorId" class="btn btn-outline-danger">Delete</a></td>
                                    <td> <a asp-area="Admin" asp-controller="Doctor" asp-action="ShowSchedule" asp-route-id="@item.DoctorId" class="btn btn-outline-success">Schedule</a></td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

